.container_table {
  width: 100%;
  background-color: rgb(236, 231, 231);
}

.table {
  border: 0.2rem solid black;
}

.th {
  border: 0.1rem solid black;
}

.td {
  border: 0.1rem solid black;
  padding: 0.5rem;
}
